@page "/"
@inject WebApiService Api
@inject IRefreshService refresh
<AuthorizeView>
    <Authorized>
        <div align-center style="text-align:center;display: flex;
  justify-content: center;
  align-items: center;">
            <MudStack Spacing=0>
        <h5>PBTS.Net Web App</h5>

        <MudImage Src="Images/defImg/logo.png" ObjectFit="ObjectFit.Fill" Height="200" Width="200" Class="rounded-lg;" Style="
  margin: auto;
  display: block;"/>
        @if (pageResModel is not null && (pageResModel.First.Any() || pageResModel.Second.Any()))
                {
                    <MudText Style="font-size:16px;font-weight:bold;color:#E53935">@pageResModel?.First.Aggregate((x,y)=>x+" - "+y)</MudText>
                    <MudText Style="font-size:16px;font-weight:bold;color:#388E3C">@pageResModel?.Second.Aggregate((x,y)=>x+" - "+y)</MudText>
                    <hr class="my-1"/>
                }
        <MudText Typo="Typo.h5"><b>@CompanyDetails @CurrCity</b></MudText>
       
        <hr class="my-1"/>
        <MudText Style="margin:0px;" Typo="Typo.h6">Reg ID: <b>@MBM</b></MudText>
        <hr class="my-1"/>
                
        <div style="text-align:center;margin: 0 auto;">
        
        <MudText>A/C: @CurrCode - @CurrName</MudText>
        <MudText>Relation ID: @RelID</MudText>
        <MudText>Sale Limit: @(CurrLimit)</MudText>
        </div>
        </MudStack>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>You are not logged in</h1>
    </NotAuthorized>
</AuthorizeView>

    @code {
    string CurrName = string.Empty;
    string CurrCity = string.Empty;
    string CurrCode = string.Empty;
    string CurrLimit = string.Empty;
    string CompanyDetails = string.Empty;
    string RelID = string.Empty;
    string MBM = string.Empty;
    HomePageResultsModel? pageResModel = null;

    protected override async Task OnInitializedAsync()
    {
        await Api.UnsetAllSch();
        MBM = await Api.GetMbm();

        (CurrName,CurrCity,CurrCode,CurrLimit,CompanyDetails,RelID,pageResModel)=await Api.GetDashboardData();

        refresh.CallRequestRefresh();
    }
}
