@page "/login"
@inject WebApiService AuthService
@inject NavigationManager NavigationManager




<MudPaper Outlined="true" Class="pa-4 mx-auto" Style="max-width:400px; min-width:300px;">
	
	<EditForm Model="loginModel" OnValidSubmit="HandleLogin">

		<DataAnnotationsValidator />
		<MudText Typo="Typo.h3" Class="text-center">Login</MudText>
		<MudDivider/>
		@if (ShowErrors)
		{
			<MudText Color="@Color.Error" Class="text-center">
				<p>@Error</p>
			</MudText>
		}
		<MudTextField Label="Email or Reg ID" HelperText="Your Gmail Reg ID"
					  @bind-Value="loginModel.Email" For="@(() => loginModel.Email)" />
        <MudTextField Label="Password" HelperText="" InputType="InputType.Password"
					  @bind-Value="loginModel.Password" For="@(() => loginModel.Password)" />
                      <div style="display:flex;" class="mx-auto mt-2 align-content-center">
		<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="me-1">Login</MudButton>
		@*<MudButton OnClick="@((e)=>NavigationManager.NavigateTo("/register"))" Variant="Variant.Filled" Color="Color.Primary" Class="ms-1">Register</MudButton>*@
		</div>
		
	</EditForm>
</MudPaper>

        