@page "/Mix"
@using System.Globalization
@using XtremeModels
@inject NavigationManager nav
@inject WebApiService Api
@inject IDialogService DialogService

<style>

        #numericinpdiv input:focus, #numericinpdiv input.form-control:focus {
            outline: none !important;
            outline-width: 0 !important;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
        
</style>

<AuthorizeView>
    <Authorized>

        <div align-center style="max-width:750px;margin: auto;" class="mt--3 pt-0">
            <div style="display: flex;justify-content: space-between;height:25px;" class="mx-1">
                <MudText Style="align-self:center;" Align="Align.Center"><MudIcon Icon="@Icons.Material.Filled.StackedBarChart" Color="Color.Tertiary" Size="Size.Small"></MudIcon> Inv#: <span style="color:red;margin-right:10px;">@InvNo</span>A/c: <span style="color:darkcyan;margin-right:10px;">@Code</span>Ref: <span style="color:forestgreen">@Ref</span></MudText>
                <MudIconButton Style="align-self:right" Icon="@Icons.Material.Filled.List"  OnClick="@OnListClick" Color="@(Color.Tertiary)"></MudIconButton>
            </div>
            <MudSimpleTable Dense="true" Bordered="true"  Hover="true" FixedHeader="true" Style="height:205px;">
                <thead>
                    <tr>
                        <th style="background-color: #ffe4b5;color:black;"><b>S #</b></th>
                        <th style="background-color: #ffe4b5;color:black"><b>Digit</b></th>
                        <th style="text-align:right;background-color: #ffe4b5;color:black"><b>1<sup>st</sup> Prize</b></th>
                        <th style="text-align:right;background-color: #ffe4b5;color:black"><b>2<sup>nd</sup> Prize</b></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Transactions is not null && Transactions?.Any() == true)
                    {
                        var last = Transactions.IndexOf(Transactions[^1]);
                        @if (Transactions[0].sNo is not "0" or "")
                        {
                            snoCountStart = int.Parse(Transactions[0].sNo);
                        }
                        var cNow = -1;
                        @foreach (var transaction in Transactions)
                        {
                            transaction.sNo = snoCountStart.ToString("D5");

                            <tr @onclick="@(()=>OnEntryClick(transaction))">
                                <td><b>@transaction.sNo</b></td>
                                <td><b>@transaction.Digit</b></td>
                                <td style="text-align:right"><b>@transaction.Prize1.ToString("C2",numberFormat)</b></td>
                                <td style="text-align:right"><b>@transaction.Prize2.ToString("C2",numberFormat)</b></td>
                            </tr>
                            cNow++;
                            snoCountStart++;
                        }
                    }

                </tbody>
            </MudSimpleTable>
            <MudStack Row="true">
                <MudText Class="me-3 mt-3" Style="font-size:20"><b>@Total</b></MudText>
                <div style="align-items: center;align-content:center;display:flex;width:100%;height:50px;" class="mx-auto">
                    @if (repeatData?.RelationPrint == true && Transactions?.Count>0)
                    {
                        <MudIconButton Style="margin-left:auto;" OnClick="OnReportGet" Icon="@Icons.Filled.Print" Color="@(Color.Surface)"></MudIconButton>
                    }
                    <MudToggleIconButton @bind-Toggled="@AutoPrize" Style=@($"margin-right:auto;{(repeatData?.RelationPrint == false?"margin-left:auto":"")}")
                                         Icon="@Icons.Material.Outlined.ContentCopy" Color="@Color.Default"
                                         ToggledIcon="@Icons.Material.TwoTone.ContentCopy" ToggledColor="@Color.Info" />
                </div>
                <MudSelect @bind-Value="@DropSel" Label="Type" Class="mud-rtl mt--3" Style="align-self:flex-start;height:30px;min-width:120px;width:120px;max-width:120px;margin-left:auto;margin-right:30px;" FullWidth="false">
                    <MudSelectItem Value=1>مکس</MudSelectItem>
                    <MudSelectItem Value=2>کلوز</MudSelectItem>
                    <MudSelectItem Value=3>سینٹر  </MudSelectItem>
                    <MudSelectItem Value=4>بیک اوپن  </MudSelectItem>
                    <MudSelectItem Value=5>سینٹر آکڑا  </MudSelectItem>
                    <MudSelectItem Value=6>بیک آکڑا  </MudSelectItem>
                    <MudSelectItem Value=7>بیک ٹنڈیلا  </MudSelectItem>
                    <MudSelectItem Value=8>فائف ڈاٹ  </MudSelectItem>
                    <MudSelectItem Value=9>سکس ڈاٹ  </MudSelectItem>
                </MudSelect>
            </MudStack>


            <MudStack Row="true">
                @*<MudText Align="Align.Right" Style="margin-top: 25px;padding-right:0px;margin-right:0px;">@CurrentDigit</MudText>*@

                @*<MudTextField InputMode="InputMode.numeric" Pattern="[0-9]*" Mask="@(new PatternMask(new string('0', @SearchLimit)))" Adornment="Adornment.Start"
                Clearable="true" AdornmentColor="Color.Surface" AdornmentText="@CurrentDigit" HelperText=@("Max Digits: "+@SearchLimit) FullWidth="true"
                Style="margin-left:0px;" @bind-Value="SearchText" Immediate="true" MaxLength=@SearchLimit Label="Digit"
                Variant="Variant.Outlined" />
                <MudText Align="Align.End" Class="mt-4">
                Digit:
                </MudText>*@

                <div id="numericinpdiv" class="input-group shadow-none" style="max-width:65px;height:55px;margin-top:5px;">
                    @if (DropSel != 1)
                    {
                        <span class="input-group-text" style="background-color:transparent;color:var(--mud-palette-text-primary);border-right:0px;margin-right:0px;padding-right:0px;">@CurrentDigit</span>
                    }
                    <input type="text" style="background-color:transparent;color:var(--mud-palette-text-primary);@(DropSel!=1?"border-left:0px;margin-left:0px;padding-left:0px":"")"
                           placeholder="@(new string('#', @SearchLimit))" inputmode="numeric" class="form-control" pattern="[0-9]*" id="MixDigitInput"
                           disabled="@(DigitEnabled==false)" @onkeypress="@digitKeyDown" @onblur="@lostDigitFocus" @onfocus="@OnDigitFocus"
                           @bind-value="@Digits" maxlength="@SearchLimit" />
                </div>

                @*
                 Immediate="true" Immediate="true" *@
                <MudNumericField id="Prize1" OnKeyDown="@Prz1KeyDown" @onfocus="@OnPrzFocus" @bind-Value="Prize1" HelperText="@($"Limit: {prz1Limit}")" Label="I Prize" HideSpinButtons="true" Disabled="@(Prz1Enabled==false)" Variant="Variant.Outlined" Min="0" />
                <MudNumericField id="Prize2" OnKeyDown="@Prz2KeyDown" @onfocus="@OnPrzFocus" @bind-Value="Prize2" HelperText="@($"Limit: {prz2Limit}")" Label="II Prize" HideSpinButtons="true" Disabled="@(Prz2Enabled==false)" Variant="Variant.Outlined" Min="0" />
                <MudIconButton Disabled="@AddEntryDisabled" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Check" Color="Color.Tertiary" Size="Size.Small" OnClick="@OnDoneClick" Style="margin-top:6px;margin-left:auto;margin-right: 0;height:55px;"></MudIconButton>
                @if(@Editmode)
                {                
                    <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Size="Size.Small" OnClick="@OnEditCancel" Style="margin-top:6px;height:55px;"></MudIconButton>

                }
            </MudStack>
        </div>
    </Authorized>
</AuthorizeView>

                