@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Identity
@using MudBlazor.Utilities
@using System.Diagnostics
@inherits LayoutComponentBase
@inject NavigationManager nav
@inject WebApiService AuthService
@implements IAsyncDisposable
<PageTitle>PBTS.Net Web App</PageTitle>

<MudRTLProvider>
    <MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <MudLayout>
        <MudAppBar Fixed="true" Dense="true" Color="Color.Primary" Elevation="1">
            <AuthorizeView>
                <Authorized>
                    @if (selectedCompDraw)
                    {
                        <MudIconButton Color="Color.Dark" Icon="@Icons.Material.Filled.Menu" Edge="Edge.Start" Size=Size.Small OnClick="@((e) => DrawerToggle())" />

                    }
                    @if (MarqSet)
                    {
                        <MudStack Row="true" Justify="@Justify.Center" AlignItems="AlignItems.Start">
                            <MudIcon Icon="@(repeatData?.Uac==true?Icons.Material.Filled.LockOpen:Icons.Material.Filled.Lock)" Size="Size.Small" Color="@(repeatData?.RelationActive==true?Color.Success:Color.Error)" />
                            <a href="/CompanySelection">
                                <MudText Typo="Typo.body2" Style="color:#000000;font-size:medium;"><b>@MarqData.PCode - @MarqData.PName</b></MudText>
                            </a>

                            <MudText Typo="Typo.body2" Style="color:#000000;font-size:medium;"><b>@MarqData.Balance</b></MudText>
                        </MudStack>
                    }
                    else
                    {
                        <div Class="ml-3">PBTS.Net Web App</div>
                    }
                </Authorized>
                <NotAuthorized>
                    <div Class="ml-3">PBTS.Net Web App</div>

                </NotAuthorized>
            </AuthorizeView>
            <MudSpacer />
            <MudIconButton OnClick="@((e) => ThemeCh())" Color="Color.Dark" Size="Size.Small" Icon="@(_isDarkMode?Icons.Material.Outlined.DarkMode:Icons.Material.Outlined.LightMode)" />
            <LoginDisplay />
        </MudAppBar>
        <CascadingValue TValue="Timer" Value="_timer">
            <CascadingValue TValue="RepeatDataReturnWA" Value="repeatData">
                @if (selectedCompDraw)
                {
                    <AuthorizeView>
                        <Authorized>

                            <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
                                <MudText Align="Align.Center" Class="my-2"><b>REG ID: @MBM</b></MudText>
                                <MudNavMenu>

                                    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
                                    <MudNavLink Href="/Mix" Match="NavLinkMatch.Prefix"
                                            Icon="@Icons.Material.Filled.StackedBarChart"
                                            Disabled=@ac>
                                        Mix Trans
                                    </MudNavLink>

                                    <MudNavLink Href="/Scheme" Match="NavLinkMatch.Prefix"
                                            Icon="@Icons.Material.Filled.StackedLineChart"
                                            Disabled=@ac>
                                        Scheme Trans
                                    </MudNavLink>
                                    @*<MudNavLink Href="/Scheme" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Percent">Scheme % Trans</MudNavLink>*@
                                    <MudNavLink Href="/Search" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Search">Search Digit</MudNavLink>
                                    <MudNavLink Href="/Win" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.PriceCheck" Disabled="@(repeatData?.RelationPrize==false)">Win Prize</MudNavLink>
                                    <MudNavLink Href="/View" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CreditCard">View Invoice</MudNavLink>
                                    <MudNavLink Href="/Bill" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.PriceChange" Disabled="@(repeatData?.RelationBill==false)">Party Bill</MudNavLink>
                                    <MudNavLink Href="/Ledger" Match="NavLinkMatch.Prefix" Icon="@Icons.Custom.FileFormats.FileDocument" Disabled="@(repeatData?.RelationLedger==false)">A/C Ledger</MudNavLink>
                                    <MudNavLink Href="/Print" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Print" Disabled="@(repeatData?.RelationPrint==false)">Print</MudNavLink>
                                    @*<MudNavLink Href="/CompanySelection" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Warehouse">Company Selection</MudNavLink>*@
                                <MudNavLink Href="/DrawSelection" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CardMembership">Draw Selection</MudNavLink>
                                @if(Company is not null)
                                {
                                    <div class="mt-3 mx-auto" style="max-width:90px;" align-center> <a @onclick="@((x)=>_drawerOpen=false)" href="/CompanySelection">
                                                                  <MudImage align-center Src=@($"data:image/gif;base64,{Convert.ToBase64String(Company?.Pic)}") Width="90" Height="90" Alt="Icon" Elevation="25" Class="rounded-lg" />
                                                                  </a></div>
                                }
                            </MudNavMenu>
                            </MudDrawer>
                        </Authorized>
                    </AuthorizeView>
                }
                <MudMainContent>
                    @if (MarqSet)
                    {
                        <AuthorizeView>
                            <Authorized>
                                <MudPaper @onclick="@ontopclick" Elevation="3" Class="py-3" Outlined="true">

                                    <MudStack @onclick="@ontopclick" Row="true" Justify="@Justify.Center" AlignItems="AlignItems.Center">
                                        <MudIcon @onclick="@ontopclick" Icon="@(repeatData?.Uac==true && repeatData?.DrawCompleted==false?Icons.Material.Filled.Edit:Icons.Material.Filled.EditOff)" Size="Size.Small" Color="@(repeatData?.Uac==true && repeatData?.DrawCompleted==false?Color.Success:Color.Error)" Title="Pencil" />
                                        <MudText @onclick="@ontopclick" Typo="Typo.body2"><b>@MarqData.DId - @MarqData.BId</b></MudText>
                                        <MudText @onclick="@ontopclick" Typo="Typo.body2"><b>@MarqData.Category</b></MudText>
                                        <MudText @onclick="@ontopclick" Typo="Typo.body2"><b>@MarqData.City</b></MudText>
                                        <MudText @onclick="@ontopclick" Typo="Typo.body2"><b>@MarqData.Date</b></MudText>
                                    </MudStack>
                                </MudPaper>

                            </Authorized>
                        </AuthorizeView>
                    }
                    <MudContainer Class="mt-2 px-2" MaxWidth="MaxWidth.False">
                        @Body
                    </MudContainer>
                </MudMainContent>
            </CascadingValue>
        </CascadingValue>
    </MudLayout>

</MudRTLProvider>